################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BinaryTree/obj
/BinaryTree/.vs/BinaryTree/v16
/BinaryTree/bin/Debug/net5.0
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/DSA/v16
/BinaryTree/.vs/BinaryTree/DesignTimeBuild
/TreeTraversal/.vs/TreeTraversal
/TreeTraversal/bin/Debug/net5.0
/TreeTraversal/obj
/SizeOfBT/.vs/SizeOfBT/v16

/SizeOfBT/obj
/SizeOfBT/.vs/SizeOfBT/DesignTimeBuild
/SizeOfBT/bin/Debug/net5.0
/FindMinMaxInBT/bin/Debug/net5.0
/FindMinMaxInBT/.vs/FindMinMaxInBT/v16
/FindMinMaxInBT/obj
