################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BinaryTree/obj
/BinaryTree/.vs/BinaryTree/v16
/BinaryTree/bin/Debug/net5.0
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/DSA/v16
/BinaryTree/.vs/BinaryTree/DesignTimeBuild
/TreeTraversal/.vs/TreeTraversal
/TreeTraversal/bin/Debug/net5.0
/TreeTraversal/obj
/SizeOfBT/.vs/SizeOfBT/v16

/SizeOfBT/obj
/SizeOfBT/.vs/SizeOfBT/DesignTimeBuild
/SizeOfBT/bin/Debug/net5.0
/FindMinMaxInBT/bin/Debug/net5.0
/FindMinMaxInBT/.vs/FindMinMaxInBT/v16
/FindMinMaxInBT/obj
/HeightOfBT/bin/Debug/net5.0
/HeightOfBT/.vs/HeightOfBT/v16
/HeightOfBT/obj
/FindMinMaxInBT/.vs/FindMinMaxInBT/DesignTimeBuild
/HeightOfBT/.vs/HeightOfBT/DesignTimeBuild
/LeftRightViewOfBT/.vs/LeftRightViewOfBT
/LeftRightViewOfBT/obj
/PrintNodesAtKDistance/.vs/PrintNodesAtKDistance/v16
/PrintNodesAtKDistance/bin/Debug/net5.0
/PrintNodesAtKDistance/obj
/LeftRightViewOfBT/bin/Debug/net5.0
/ChildrenSumParent/bin/Debug/net5.0
/ChildrenSumParent/.vs/ChildrenSumParent/v16
/ChildrenSumParent/obj
